/*input:read-only{
    background-color: white;
}*/
#startTime{
    width: 35%;
    @media screen and (max-width: 480px){
        width: 100%;
     }
     @media screen and (min-width: 481px) and (max-width: 768px){
        width: 50%;
     }
    &:read-only{
      background-color: white;  
    }
}

#endTime{
    width: 35%;
    @media screen and (max-width: 480px){
        width: 100%;
     }
     @media screen and (min-width: 481px) and (max-width: 768px){
        width: 50%;
     }
    &:read-only{
        background-color: white;  
    }
}

#Eventos{
    width: 50%;
    @media screen and (max-width: 480px){
        width: 100%;
     }
     @media screen and (min-width: 481px) and (max-width: 768px){
        width: 100%;
     }
}

.table{
    width: 90%;
    margin: auto;
}



