/* You can add global styles to this file, and also import other style files */
$blanco: #FBFCFC;

@mixin estilosBtn {
    padding: 7px 12px 7px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border:none ;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btnPrimary{
    @include estilosBtn();
    background-color: #81D4FA; //Ligth blue 200
    &:hover{
        background-color: #4FC3F7; //Ligth blue 300
    }
    &:focus{
        color: $blanco;
    }
    &:disabled{
        color: black;
        background-color: #4FC3F7; 
    }
}

.btnSecondary{
    @include estilosBtn();
    background-color: #4DD0E1; //Cyan 300
    //color: $blanco;
    &:hover{
        background-color: #26C6DA; //Cyan 400
    }
    &:focus{
        color: $blanco;
    }
    &:disabled{
        color: black;
        background-color: #26C6DA; 
    }
}

.btnWarning{
    @include estilosBtn();
    background-color: #FFCC80; //Orange 200
    &:hover{
        background-color: #FFB74D; //Orange 300
    }
    &:focus{
        color: $blanco;
    }
    &:disabled{
        color: black;
        background-color: #FFB74D; 
    }
}

.btnDanger{
    @include estilosBtn();
    background-color: #FF5252; //Red A200
    color: $blanco;
    &:hover{
        background-color: #D50000; //Red A700
    }
    &:focus{
        color: $blanco;
    }
    &:disabled{
        color: black;
        background-color: #D50000; 
    }
}

.btnGray{
    @include estilosBtn();
    background-color: #CFD8DC; //Blue gray 100
    &:hover{
        background-color: #B0BEC5; //Blue Gray 200
    }
    &:focus{
        color: $blanco;
    }
    &:disabled{
        color: black;
        background-color: #B0BEC5; 
    }
}

.btnSuccess{
    @include estilosBtn();
    background-color: #C5E1A5;
    &:hover{
        background-color: #AED581; //Orange 300
    }
    &:focus{
        color: $blanco;
    }
    &:disabled{
        color: black;
        background-color: #AED581; 
    }
}

//Paletas de colores: https://materialui.co/colors/